.input_container {
    width: 100%;
    border: 1px solid #4d6078;
    border-radius: 0.5rem;
    padding: 0.5rem;

    input {
        width: 100%;
        background-color: transparent;
        outline: none;
        box-shadow: none;
    }
}